*{
    margin: 0;
    padding: 0;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    margin-top: 10vh;
}

.text button{
    width: 5vw;
    height: 3vh;
    scale: 120%;
}