*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1920px;
    height: 100vh;
    background-color: #afafaf;
    margin: 0 auto;
}

.gallery{
    display: flex;
    justify-content: space-around;
}

.gallery__img{
    width: 300px;
    justify-content: center;
}

@media screen and (max-width:450px) {
    .container{
        background-color: red;
        width: 100%;
        height: auto;
    }

    .gallery{
        flex-direction: column;
        align-items: center;
    }

    .gallery__img{
        justify-content: center;
    }
}