*{
    margin: 0;
    padding: 0;
    font-family: Consolas;
}

@font-face {
    font-family: Consolas;
    src: url(../fonts/consolas.ttf);
}

.head{
    width: auto;
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.head__logo{
    display: flex;
    align-items: center;
}

.head__inf-list{
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    gap: 120px;
}

.head__inf-list a{
    color: white;
    text-decoration: none;
}

.head__inf-list li{
    list-style: none;
}


.inf__list-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

.inf__list-block:hover > .inf__list-line{
    animation-name: header__list-animation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.inf__list-line{
    height: 2px;
    background-color: white;
}

@keyframes header__list-animation {
    from {width: 0%;}
    to {width: 100%;}
}

.intro{
    width: auto;
    height: 1031px;
    background-image: url(../img/intro_bg.png);
    overflow: hidden;
    background-repeat: none;
    display: flex;
    flex-direction: column;
    gap: 38px;
    align-items: center;
    justify-content: center;
    color: white;
}

.intro__text{
    background-color: #0B0B0B;
    padding: 5px 10px 5px 10px;
    font-size: 32px;
}

.intro__text h3{
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 1s steps(14, end);
}

.intro__text p{
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter 1.5s steps(25, end) 1s;
    animation-fill-mode: backwards;
}

@keyframes typewriter {
    from {width: 0;}
    to {width: 100%;}
}

@keyframes intro__console-animation {
    from {color: rgb(167, 167, 167);}
    to {color: rgb(46, 46, 46);}
}

.intro__console{
    animation-name: intro__console-animation;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.intro__logo{
    animation: intro__logo-start;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;

    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

.intro__logo:hover{
    scale: 125%;
}

@keyframes intro__logo-start {
    from {scale: 125%;}
    to {scale: 100%;}
}

.about{
    color: white;
    width: auto;
    height: 1912.02;
    background-image: url(../img/about_bg.png);
    background-color: black;
}

.about__header{
    display: flex;
    justify-content: center;
    padding: 5vh 0vw 15vh 0vw;
    font-size: 36px;
}

.about__person{
    margin: 0vw 15vw 0vw 15vw;
    justify-content: space-around;
    display: flex;
    gap: 10vw;
}

.about__block{
    rotate: -5deg;
}

.about__block2{
    rotate: 7deg;
}

.about__block-header{
    background-color: #242424;
    color: #595959;
    padding: 10px 10px 10px 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-weight: bold;
}

.about__block-image{
    /* border: 5px solid black; */
    background-color: black;
}

.about__info{
    margin-top: 10vh;
    font-size: 20px;
}

.about__info-header{
    background-color: #242424;
    color: #595959;
    padding: 15px 0px 15px 20px;
    border-radius: 20px 20px 0px 0px;
}

.about__info-text{
    background-color: black;
    border: 2px solid #242424;
    border-radius: 0px 0px 20px 20px;
    padding: 2vh 1vw 8vh 1vw;
    line-height: 150%;
}

@keyframes about__animation {
    from {color: rgb(255, 255, 255);}
    to {color: rgb(110, 110, 110)}
}

.about__anim1{
    animation-name: about__animation;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.about__anim2{
    animation-name: about__animation;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.about__anim3{
    animation-name: about__animation;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.projects{
    width: auto;
    background-color: black;
    color: white;
    background-image: url(../img/projects_bg.png);
}

.projects__header{
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    font-size: 48px;
    margin-bottom: 5vh;
}

.projects__content{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 38px;
}

.projects__block{
    width: 1142px;
    margin: 0 auto;
    background-color: #363636;
    display: flex;
    gap: 5px;
    border-radius: 20px;
}

.projects__block-circle{
    margin: 22px 5px 0px 15px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    animation-name: circle-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    border: 2px solid white;
}

.projects__block-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 1043px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.projects__block-text h4{
    font-size: 24px;
}

@keyframes circle-animation {
    0% {background-color: white;}
    33% {background-color: #207800;}
    66% {background-color: #a107af;}
    100% {background-color: white;}
}

.projects__text-gray{
    color: rgb(161, 161, 161);
}

.animate-result{
    animation-name: animate-result;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}
@keyframes animate-result{
    from, to{
        color: white;
    }
    25%, 75%{
        color: #51f017;
    }
}